
@font-face{
    src: url(PicNic-Regular.otf);
    font-family: 'picnic';
}



body{
    background-color: rgb(255, 249, 224);
}


h1{
    color:#0C4767;
    font-family: 'picnic';
    font-size: 100px;
    text-align: center;
}

h1:hover{
    color: #566E3D;
}



/* block 1*/


.first{
    width: 600px ;
    height:800px;
    background-image: url(images/1a.png);
    background-size: cover;
    position: absolute; 
    top: 23vw;
    left: 7vw;
    right: 0%;
    
}

.first:hover{
    background-image: url(images/1b.png);
}



.bluestar{
    display: block;
    width: 900px;
    height: 800px;
    position: absolute;
    top: 22vw;
    left: 44vw;
    background-image: url(images/yet.png);
    background-size: cover;
    overflow: hidden;
    transition-duration:8s;
    transition-property: transform;
}

.bluestar:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}


/* block 2*/


.second{
    width: 1500px ;
    height: 1000px;
    background-image: url(images/2a.png);
    background-size: cover;
    position: absolute; 
    top: 80vw;
    left: 7vw;
    
}

.second:hover{
    background-image: url(images/2b.png);
}


.third{
    width: 700px ;
    height: 500px;
    background-image: url(images/8a.png);
    background-size: cover;
    position: absolute; 
    top: 95vw; 
    left: 45vw;
    right: 10vw;
    
}

.third:hover{
    background-image: url(images/8b.png);
}

/* thrid block */


.four{
    width: 1500px ;
    height: 1000px;
    background-image: url(images/3a.png);
    background-size: cover;
    position: absolute; 
    top: 140vw; 
    left: 7vw;
    right: 10vw;
    
}

.four:hover{
    background-image: url(images/3b.png);
}


.five{
    width: 600px ;
    height: 400px;
    background-image: url(images/9a.png);
    background-size: cover;
    position: absolute; 
    top: 170vw; 
    left: 50vw;
    right: 30vw;
    
}

.five:hover{
    background-image: url(images/9b.png);
}

/* fouth block */

.six{
    width: 1500px ;
    height: 1000px;
    background-image: url(images/4a.png);
    background-size: cover;
    position: absolute; 
    top: 200vw; 
    left: 7vw;
    right: 10vw;
    
}

.six:hover{
    background-image: url(images/4b.png);
}

.seven{
    width: 600px ;
    height: 400px;
    background-image: url(images/11a.png);
    background-size: cover;
    position: absolute; 
    top: 205vw; 
    left: 50vw;
    
}

.seven:hover{
    background-image: url(images/11b.png);
}

/* fifth block */


.eight{
    width: 1500px ;
    height: 1000px;
    background-image: url(images/7a.png);
    background-size: cover;
    position: absolute; 
    top: 260vw; 
    left: 7vw;
    right: 10vw;
    
}

.eight:hover{
    background-image: url(images/7b.png);
}

/* sixth block */

.nine{
    width: 1500px ;
    height: 1000px;
    background-image: url(images/b-29.png);
    background-size: cover;
    position: absolute; 
    top: 320vw; 
    left: 7vw;
    right: 10vw;
}

.nine:hover{
    background-image: url(images/b-30.png);
}

.ten{
    width: 600px ;
    height: 600px;
    background-image: url(images/b-33.png);
    background-size: cover;
    position: absolute; 
    top: 330vw; 
    left: 10vw;
    
}

.ten:hover{
    background-image: url(images/b-34.png);
}

/* seventh block */

.eleven{
    width: 1500px ;
    height: 1000px;
    background-image: url(images/b-31.png);
    background-size: cover;
    position: absolute; 
    top: 380vw; 
    left: 7vw;
    right: 10vw;
}

.eleven:hover{
    background-image: url(images/b-32.png);
}


/* image descriptions */

.textone{
    color: #0C4767;
    top: 137.5vw;
    left: 40vw;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 20px;

}

.texttwo{
    color: #0C4767;
    top: 197.5vw;
    left: 34vw;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 20px;
}

.textthree{
    color: #0C4767;
    top: 257.5vw;
    left: 37vw;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 20px;
}

.textfour{
    color: #0C4767;
    top: 317.5vw;
    left: 39vw;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 20px;
}

.textfive{
    color: #0C4767;
    top: 377.5vw;
    left: 45vw;
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-size: 20px;
}



.last{
    position: absolute;
    top: 440vw;
    left: 20vw;
    background-image: url(images/yup.png);
    width: 1000px;
    display: block;
    height: 800px;
    position: absolute;
    background-size: cover;
    overflow: hidden;
    transition-duration:8s;
    transition-property: transform;
}


.last:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}