html{
    overflow-x:hidden;
    background-color: lightblue;
    cursor: url(images/cursordiff.png), auto;
}

::-webkit-scrollbar{
    width: 2vw;
}


::-webkit-scrollbar-thumb{
    background: lightblue;
}

::-webkit-scrollbar-track{
    background: #90ee90;
}

/* imported typeface */

@font-face{
    src: url(PicNic-Regular.otf);
    font-family: 'picnic';
}



h1{
    color: whitesmoke;
    font-family: 'picnic';
    font-size: 9vh;
    text-align: center;
}

h1:hover{
    color: black;
}


p{
    color: whitesmoke;
    font-size: 2vh;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-style: normal;
    padding-top: 10vh;
    padding-left: 20vw;
    padding-right: 20vw;
    padding-bottom: 10vh;
}

p:hover{
    color:black;
}


/* flex box 1 */

.onea{
    display: flex;
    background-image: url(images/2a.png);
    background-size: cover;
    position: fixed auto;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.oneb{
    background-image: url(images/8a.png);
    background-size: cover;
    width: 50vw;
    height: 50vh;
    z-index: 1;
    position: absolute;
}

.oneb:hover{
    background-image: url(images/8b.png);
    background-size: cover;
}

/* flex box 2 */

.twoa{
    display: flex;
    background-image: url(images/3a.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.twob{
    background-image: url(images/9a.png);
    background-size: cover;
    width: 50vw;
    height: 50vh;
    z-index: 1;
    position: absolute;
}

.twob:hover{
    background-image: url(images/9b.png);
    background-size: cover;
}


/* flex box 3 */


.threea{
    display: flex;
    background-image: url(images/4a.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.threeb{
    background-image: url(images/11a.png);
    background-size: cover;
    width: 50vw;
    height: 50vh;
    z-index: 1;
    position: absolute;
}

.threeb:hover{
    background-image: url(images/11b.png);
    background-size: cover;
}


/* flex box 4 */


.foura{
    display: flex;
    background-image: url(images/7a.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.fourb{
    background-image: url(images/b-33.png);
    background-size: cover;
    width: 50vw;
    height: 50vh;
    z-index: 1;
    position: absolute;
}

.fourb:hover{
    background-image: url(images/b-34.png);
    background-size: cover;
}

/* flex box 5 */


.fivea{
    display: flex;
    background-image: url(images/b-29.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.fiveb{
    background-image: url(images/b-31.png);
    background-size: cover;
    width: 50vw;
    height: 50vh;
    z-index: 1;
    position: absolute;
}

.fiveb:hover{
    background-image: url(images/b-32.png);
    background-size: cover;
}


/* footer */

.footer{
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



/* Media Querie iphone */

@media (max-width:940px){
  p{
    font-size: 2vh;
    padding-top: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 5vh;
  }  

.oneb{
    width: 80vw;
    height: 40vh;
}
.twob{
    width: 80vw;
    height: 40vh;
}
.threeb{
    width: 80vw;
    height: 40vh;
}
.fourb{
    width: 80vw;
    height: 40vh;
}
.fiveb{
    width: 80vw;
    height: 40vh;
}
}