/* scroll bar */


::-webkit-scrollbar{
    width: 0;
}

::-webkit-scrollbar-thumb{
    opacity: 0;
}

::-webkit-scrollbar-track{
    opacity: 0;
}

body{
    margin: 0;
}

html{
    cursor:url(homeimages/cursor1.png), auto;
}



/* Lion heads  */

.container{
    display:flex;
    justify-content: center;
    height: 125px;
    width: 100%;
    position:fixed;
    top: 20px;
    mix-blend-mode: multiply;
}

.lion1{
    background-image: url(homeimages/lion1.png);
    background-size: cover;
    width: 156px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto; 
    margin-right: 10px;
}



.lion2{
    background-image: url(homeimages/lion2.png);
    background-size: cover;
    width: 107px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}



.lion3{
    background-image: url(homeimages/lion3.png);
    background-size: cover;
    width: 230px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}



.lion4{
    background-image: url(homeimages/lion4.png);
    background-size: cover;
    width: 124px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}



.lion5{
    background-image: url(homeimages/lion5.png);
    background-size: cover;
    width: 115px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}

.lion6{
    background-image: url(homeimages/lion6.png);
    background-size: cover;
    width: 115px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}

.lion7{
    background-image: url(homeimages/lion7.png);
    background-size: cover;
    width: 115px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;
}
.lion8{
    background-image: url(homeimages/lion8.png);
    background-size: cover;
    width: 115px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}
.lion9{
    background-image: url(homeimages/lion9.png);
    background-size: cover;
    width: 115px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}
.lion10{
    background-image: url(homeimages/lion10.png);
    background-size: cover;
    width: 115px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 10px;

}
/* 

.lion6{

    background-size: cover;
    background-repeat: no-repeat;
    width: 200px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
    margin-right: 40px;

} */




/* Background images */

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8400px;
}

.one{
    background-image: url(homeimages/home1.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.two{
    background-image: url(homeimages/home2.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.three{
    background-image: url(homeimages/home3.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.four{
    background-image: url(homeimages/home4.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.five{
    background-image: url(homeimages/home5.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.six{
    background-image: url(homeimages/home6.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.seven{
    background-image: url(homeimages/home7.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.text{
    width: 95%;
    height: 95%;
    position: fixed;
    left: 40px;
    top:200px;
    mix-blend-mode: difference;
    z-index: 1;
}

/* Media Querie iphone */

@media (max-width:940px){
    .container{
        width: 100vw;
        position: fixed;
        left: 20px;
    }

    .lion1{
        width: 56px;
        height: 37px;
    }

    .lion2{
        width: 27px;
        height: 37px;
    }

    .lion3{
        width: 85px;
        height: 37px;
    }

    .lion4{
        width: 44px;
        height: 37px;
    }

    .lion5{
        width: 35px;
        height: 37px;
    }

    .text{
        position: fixed;
        left: auto;
        top:250px;
    }
  
    .one{
        background-image: url(homeimages/m1.png);
        background-size: cover;
    }
    .two{
        background-image: url(homeimages/replace.png);
        background-size: cover;
    }

    .three{
        background-image: url(homeimages/m2.png);
        background-size: cover;  
    }

    .four{
        background-image: url(homeimages/m3.png);
        background-size: cover;
    }

    .five{
        background-image: url(homeimages/m4.png);
        background-size: cover;
    }

    .six{
        background-image: url(homeimages/m5.png);
        background-size: cover;
    }

    .seven{
        background-image: url(homeimages/m6.png);
        background-size: cover;
    }
}


