/* scroll bar */


::-webkit-scrollbar{
    width: 2vw;
}

::-webkit-scrollbar-thumb{
    background: whitesmoke;
}

::-webkit-scrollbar-track{
    background: black;
}



html{
    cursor:url(homeimages/cursor1.png), auto;
}



/* Lion heads  */

.container{
    display:flex;
    justify-content: space-between;
    height: 125px;
    width: 100%;
    position:fixed;
    top: 20px;
    mix-blend-mode: multiply;
}

.lion1{
    background-image: url(homeimages/lion1.png);
    background-size: cover;
    width: 156px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto; 
}

.lion1:hover{
    width: 159px;
    height: 120px;
}

.lion2{
    background-image: url(homeimages/lion2.png);
    background-size: cover;
    width: 107px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
}


.lion2:hover{
    width: 110px;
    height: 120px;
}

.lion3{
    background-image: url(homeimages/lion3.png);
    background-size: cover;
    width: 230px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
}

.lion3:hover{
    width: 233px;
    height: 120px;
}

.lion4{
    background-image: url(homeimages/lion4.png);
    background-size: cover;
    width: 124px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
}


.lion4:hover{
    width: 127px;
    height: 120px;
}

.lion5{
    background-image: url(homeimages/lion5.png);
    background-size: cover;
    width: 115px;
    height: 117px;
    cursor:url(homeimages/cursorred.png), auto;
}

.lion5:hover{
    width: 118px;
    height: 120px;
}



/* Background images */

.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 8400px;
}

.one{
    background-image: url(homeimages/home1.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.two{
    background-image: url(homeimages/home2.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.three{
    background-image: url(homeimages/home3.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.four{
    background-image: url(homeimages/home4.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.five{
    background-image: url(homeimages/home5.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.six{
    background-image: url(homeimages/home6.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.seven{
    background-image: url(homeimages/home7.png);
    background-size: cover;
    height: 1400px;
    width: 100%;
}

.text{
    width: 95%;
    height: 95%;
    position: fixed;
    left: 40px;
    top:200px;
    mix-blend-mode: difference;
    z-index: 1;
}