/* scroll bar */


::-webkit-scrollbar{
    width: 2vw;
}

::-webkit-scrollbar-thumb{
    background: #399570;
}

::-webkit-scrollbar-track{
    background: #ede5d0 ;
}



@font-face{
    src: url(../entry_3/PicNic-Regular.otf);
    font-family: 'picnic';
}

html{
    background-color: #399570;
    cursor: url(images/cursorgreen.png), auto;
}


.imagetwo{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}


h1{
    font-family: 'picnic';
    font-size: 150px;
    z-index: 1;
    position: absolute;
    top: 58%;
    left:61%;
    color: #399570;
}

p{
    color: #ede5d0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    z-index: 2;
}

span{
    opacity: 0%;
}

.undefinedvoice{
    display: flex;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.imageone{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
 
.voice{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 100vh;
    background-color:#399570;
    row-gap: 10vh;
    
}

/* individual voices */


.momtext{
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 50% ;
}


.dadtext{
    position: absolute;
    top: 1%;
    left: 1% ;
}

.cousintext{
    position: absolute;
    top: 60%;
    left: 10%;
    z-index: 1;
}

.unclesvoice{
    position: absolute;
    top: 1%;
    left: 70%;
}

.auntsvoice{
    position: absolute;
    top: 75%;
    left: 50%;
}


/* footer */

.footer{
    top: 200vh;
    left: 0;
    position: relative;
    margin-left: .5em;
    margin-right: .5em;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 3;
}


/* Media Querie iphone */

@media (max-width:940px){

    .imageone{
        width: 100vw;
        height: 30vh;
    }
    .imagetwo{
        opacity: 0;
    }

    h1{
        font-size: 50px;
        position: fixed;
        top: 130px;
    }
}